@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/RobotoCondensed-Regular.woff');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular';
}

.caixa{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'left container right';
}

.menu-left{
  background: #f2f2f2;
  grid-area: left;
  border-right: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-right{
  background: #f2f2f2;
  grid-area: right;
  border-left: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  grid-area: container;
  color: #333;
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relogio{
  font-size: 10rem;
}

button{
  padding: 10px 30px;
  font-size: 25px;
  background: #333;
  color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus{
  background: #333;
}

.configuracao{
  text-align: center;
  margin: 50px 0px;
}

.configuracao p{
  font-size: 1.5rem;
}

.btn-sm{
  padding: 5px 15px;
  font-size: 25px;
  background: #333;
  color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
}

#tempoSessao{
  font-size: 1.5rem;
  padding: 5px 15px;
}

#tempoIntervalo{
  font-size: 1.5rem;
  padding: 5px 15px;
}

#qtdSessao{
  font-size: 1.5rem;
  padding: 5px 15px;
}

.sessao_estudos{
  font-size: 1.3rem;
  margin: 10px 0px;
  color: #666;
}

.sessao_concluida{
  font-size: 1.3rem;
  margin: 10px 0px;
  color: #5cb85c;
}

.modal-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar{
  display: flex;
}

.modal{
  padding: 50px 100px;
  background: #fff;
  position: relative;
}

.modal h2{
  margin-bottom: 20px;
}

@keyframes modal{
  from{
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal{
  animation: modal .3s;
}

.fechar{
  border-radius: 100px;
  padding: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: -15px;
}